@charset "UTF-8";

/*메일 div 구조*/
.container-mail{
    display: flex;
    height: 100%;
}

.mail-main-form{
    overflow: auto; 
    width: 100%; 
    height: 100%; 
    padding: 25px 25px 0px 25px;
}

.mail-main-form-list{
	width: 100%;
	height: 90%;
}

.mail-main-form-page{
	border: 1px solid #f6f9fa; 
	width: 100%;
	height: 10%;
}

/*메일 사이드바*/
.mail-sidebar{
    width : 220px;
    height: 100%;
    background-color: #fff;
    border : 1px solid rgb(224, 224, 224);
    position: sticky;
}

.mail-sidebar>div{
    padding: 20px;
}

.mail-sidebar h5{
    font-weight: 500;
    margin-bottom: 15px;
}

.mail-sidebar .sidebar2 a,
.mail-sidebar .sidebar4 a{
    color: black;
    text-decoration: none;
    margin-left: 10px;
}

.mail-sidebar .sidebar3 a{
    color: black;
    text-decoration: none;
    margin-left: 10px;
}

.mail-sidebar .sidebar3 .add{
    color: gray; 
    font-size: 14px; 
    margin: 20px;
}

.mail-btn-enroll{
    width: 178px;
    height: 35px;
    background-color: white;
    border : 1px solid rgb(41, 128, 185);
    border-radius: 5px;
    cursor: pointer;
}

.mail-btn-sidebar{
    width: 60px;
    height: 20px;
    background-color: white;
    border : 1px solid rgb(41, 128, 185);
    border-radius: 3px;
    font-size: 11px;
    cursor: pointer;
}

.mail-btn-enroll:hover,
.mail-btn-sidebar:hover{
    background-color: #9fcdff;
    color: white;
    border: none;
}

.mailbox-list li{
    display: flex;
    justify-content: space-between;
    margin-bottom : 5px;
}

.sidebar3 .tag-list li{
    list-style: none;
    margin-left: 10px;
    margin-bottom : 6px;
    height: 25px;
    display: flex;
    justify-content: space-between;
}

.sidebar3 .tag-list li ion-icon{
    margin-top: 5px;
}

/*메일 내부 공통*/
.mail-h{
    font-size: 22px;
    font-weight: 500;
    margin-right: 10px;
}

.mail-btn-content{
    width: 420px; /*메일함마다 인라인으로 조절*/
    display: flex;
    justify-content: space-between;
    margin: 15px 0px 15px 0px;
}

.mail-btn-content span{
	margin-top: 0px;
}

.mail-btn1{
    width: 90px;
    height: 33px;
    line-height: 33px;
    background-color: #0087EF;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    color: #fff;
    display: flex;
    justify-content: center;
    cursor:pointer;
}


.mail-btn2{
    width: 100px;
    height: 33px;
    line-height: 33px;
    background-color: rgb(71, 181, 255);
    border: none;
    border-radius: 8px;
    font-size: 15px;
    color: #fff;
    display: flex;
    justify-content: center;
    cursor:pointer;
}

.mail-btn3{
    width: 100px;
    height: 33px;
    line-height: 33px;
    background-color: rgb(121, 218, 232);
    border: none;
    border-radius: 8px;
    font-size: 15px;
    color: #fff;
    display: flex;
    justify-content: center;
    cursor:pointer;
}

.mail-btn4{
    width: 100px;
    height: 33px;
    line-height: 31px;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 8px;
    font-size: 15px;
    color: black;
    display: flex;
    justify-content: center;
    cursor:pointer;
}

.mail-btn5{
    width: 80px;
    height: 33px;
    line-height: 31px;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 8px;
    font-size: 15px;
    color: black;
    display: flex;
    justify-content: center;
    cursor:pointer;
}

.mail-btn4 span,
.mail-btn5 span{
    margin-top: 0px;
}

.dropdown{ /*공통 드롭다운*/
    position: relative;
    display: inline-block;
  }

.dropdown:hover .dropdown-tagList,
.dropdown:hover .dropdown-tagEtc {
    display: block;
}

.tag-list .dropdown{
    border: none;
    background: fixed;
}

.dropdown>span{
	vertical-align: 5px;
}

.dropdown>i{
	vertical-align:3px;
}

.dropdown-tagList{ /*상단 태그버튼 적용 드롭다운*/
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: max-content;
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.2);
    padding: 7px 10px 7px 10px;
    z-index: 1;
    border-radius: 7px;
    overflow:auto;
}

.dropdown-tagEtc { /*사이드바 더보기 버튼 적용 드롭다운*/
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.2);
    padding: 7px 7px 7px 7px;
    z-index: 1;
    border-radius: 5px;
}

.dropdown-tagList i{
	margin-top: 6px;
	font-size: 16px;
}

.mail-a-taglist{
    display: inline-block;
    line-height: 19px;
    width: 30px;
    height: 20px;
    background-color: white;
    border : 1px solid gray;
    font-size: 11px;
    text-align: center;
    color: black;
}

.dropdown-tagList .tagName{
    margin-left: 7px;
    margin-right: 8px;
    font-size: 14px;
}

.mail-a-taglist:hover{
	background-color: #0087EF;
    color: white;
    border: none;
    text-decoration:none;
}

.dropdown-tagEtc>span{
    font-size: 13px;
    line-height: 25px;
}

.dropdown-tagEtc>span:hover{
    cursor: pointer;
}

/*메일쓰기*/
.mail-table-write{
    width: 95%;
}

.mail-table-write tr{
    height: 40px;
}

.mail-table-write td{
    text-align: center;
}

.mail-table-write th{
    font-size: 15px;
}

.mail-btn-addressbook{
    width: 85px;
    height: 30px;
    background-color: white;
    border : 1px solid rgb(41, 128, 185);
    border-radius: 3px;
    font-size: 14px;
    cursor: pointer;
}

.mail-table-write .help{
    display: inline-block;
    position: relative;
    width: 16px;
    height: 16px;
    margin-left: 1px;
    cursor: pointer;
    vertical-align: middle;
    line-height: 1;
    z-index: 1;
}


.mail-table-write .help svg{
    width: 100%;
    height: 100%;
}

.mail-table-write .help>span{
    z-index: 3;
    display: none;
    font-size: 12px;
    background-color: rgba(24, 23, 23, .6);
    color: white;
    border-radius: 3px;
    padding: 13px;
    font-weight: 400;
    margin-left: 22px;
    line-height: 10px;
}

.mail-btn-file{
    width: 60px;
    height: 23px;
    background-color: white;
    border : 1px solid rgb(41, 128, 185);
    font-size: 12px;
    cursor: pointer;
}

.mail-filebox{
    width: 100%;
    height: 90px;
    border: 1px dashed rgb(41, 128, 185);
    background-color: #fff;
    font-size: 13px;
    padding: 10px;
    overflow: auto;
}

.mail-filebox .file-empty{
    line-height: 65px;
    display: block;
}

.mail-filebox .each-file{
    text-align: left;
    font-size: 13px;
    line-height: 22px;
}

.mail-filebox .old-each-file{
    text-align: left;
    font-size: 13px;
    line-height: 22px;
}

.each-file .btn-file-remove{
    cursor: pointer;
    display: inline-block;
    vertical-align: -2px;
    margin-right: 3px;
}

/*메일쓰기-받는사람*/

.mail-input-wrap{
    width: 100%;
    min-height: 30px;
    border: 1px solid #ddd;
    background: white;
    position: relative;
}

.mail-input-wrap,
.mail-input-div{
    overflow: hidden;
    padding: 0 2px;
    line-height: 30px;
}

.mail-input-div{
    margin-right: 62px;
}

.mail-input-wrap textarea{
    vertical-align: top;
    margin-top: 0px;
    min-height: 30px;
    line-height: 23px;
    border: 0 none;
    padding: 3px;
    resize: none;
    overflow: hidden;
    box-shadow: none;
    font-size: 13px;
    height: 27px;
    display: inline;
    white-space: nowrap;
    width: 160px;
}

.mail-input-div ul{
    list-style: none;
    width: 88%;
}

#toAddrWrap .mail-addr-out{
    margin-left: 5px;
    float: left;
    padding: 0px 5px 0px 5px;
    border: 1px solid #ffc3b4;
    background: #fed5d5;
    height: 29px;
}

#refAddrWrap .mail-addr-out{
    margin-left: 5px;
    float: left;
    padding: 0px 5px 0px 5px;
    border: 1px solid #e4deaa;
    background: #fefad5;
    height: 29px;
}

.mail-addr-create{
    margin-left: 5px;
    float: left;
}

.select-recent-addr{
    position: absolute;
    top: 1px;
    right: 5px;
    background: transparent;
    height: 25px;
    width: 170px;
    border: 0;
    font-size: 14px;
    white-space: nowrap;
}

.mail-addr-out{
    display: inline-block;
    cursor: default;
    max-width: 300px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 12px;
}

.mail-addr-out .btn-addr-remove{
    cursor: pointer;
    display: inline-block;
}

.mail-addr-out .btn-addr-remove ion-icon{
    vertical-align: -2px;
}

#btn-filebox {
	cursor: pointer;
	margin-left: 30px;
	vertical-align: -3px;
}

/*메일쓰기-주소록*/
.content-04>.adr-receiver,
.content-04>.adr-reference{
    height : 49%;
    overflow : auto;
    padding : 15px;
    background-color: white;
    border : 1px solid rgb(224, 224, 224);
}

.content-04>.adr-receiver li,
.content-04>.adr-reference li{
    display : flex;
    margin : 10px 0 10px 0;
    align-items: center;
}

.content-04>.adr-receiver input,
.content-04>.adr-reference input{
    margin-right : 10px;
}

.content-04>.adr-receiver img,
.content-04>.adr-reference img{
    width : 30px;
    border-radius: 50%;
}

.content-04>.adr-receiver button,
.content-04>.adr-reference button{
    background-color : #00ff0000;
    color : gray;
    cursor: pointer;
    border-style: none;
    margin-left : 90px;
}

.content-04>.adr-receiver button:hover,
.content-04>.adr-reference button:hover{
    color : rgb(231, 76, 60);
}

/*메일함*/
.mail-table-list{
    width: 98%;
}

.mail-table-list .d1,
.mail-table-list .d2,
.mail-table-list .d2{
    width: 2%;
}

.mail-table-list .d4{
    width: 16%;
    font-size: 14px;
}

.mail-table-list .d5{
    width: 70%;
    font-size: 14px;
}

.mail-table-list .d6{
    width: 8%;
    font-size: 13px;
}

.mail-table-list .d4 span{
    margin-left: 40px;
}

.mail-table-list .d2 ion-icon,
.mail-table-list .d3 ion-icon{
    vertical-align: -2px;
    font-size: 18px;
    cursor: pointer;
}

.mail-table-list .d5 ion-icon{
    vertical-align: -2px;
    font-size: 16px;
    margin-left: 8px;
    cursor: pointer;
}

.mail-table-list .d4 span:hover,
.mail-table-list .d5 span:hover{
    cursor: pointer;
    text-decoration: underline;
}

.mail-table-list .d5 i{
	margin-right: 5px;
}

.mail-table-list tr{
    height: 35px;
}

.mail-table-list tr:hover{
    background: lightgray;
}

.mail-table-list .noList{
	text-align: center;
	font-size: 14px;
}

.mail-list-division td{
    font-size: 14px;
}

.mail-page-wrap{
	position: fixed;
	bottom: 0;
	border:1px solid red;
    padding: .75rem 1.25rem;
    background-color: transparent;
    border-top: 1px solid rgba(0, 0, 0, .125);
    width: 100%;
    margin:0;
}

/*메일 상세보기*/
.mail-btn-cntbox{
    display: flex; 
    justify-content: space-between; 
    align-items: center;
}

.mail-btn-cntbox .mail-btn-content2{
	height: 30px;
	line-height: 50px !important;
	padding-left: 25px;
	font-size: 15px;
	width: 100px;
}

.mail-btn-cntbox .mail-btn-content2 a{
	color: black;
}

.mail-detail-content{
    width: 97%;
    height: 600px;
}

.mail-detail-content .header{
    margin: 20px 0px 20px 0px;
}

.mail-detail-content .header ion-icon{
	vertical-align: -3px;
	font-size: 20px;
	cursor: pointer;
}

.mail-detail-content .header i{
	margin-left: 6px;
	font-size: 18px;
}

.mail-table-detail td{
	padding-left: 20px;
}

.mail-table-detail tr{
    height: 33px;
    font-size: 14px;
	line-height: 33px;
	word-wrap: normal;
}

.mail-table-detail th{
	font-weight: 500 !important;
	min-width: 58px;
}

.mail-table-detail tr td span{
    margin-left: 5px;
    font-size: 13px;
    white-space: nowrap;
}

.filelist>.filelist-header{
    background: white;
    border: 1px solid lightgray;
    padding: 3px 0px 3px 0px;
}

.filelist>.filelist-header>span{
    margin-left: 5px;
    font-size: 14px;
}

.filelist>.filelist-wrap{
    background: white;
    border: 1px solid lightgray;
    padding: 3px 0px 3px 0px;
}

.filelist>.filelist-wrap a{
    margin-left: 25px;
    font-size: 14px;
}

.mail-detail-content .content{
    width: 100%;
    background-color: white;
    border : 1px solid rgb(224, 224, 224);
    border-radius: 10px;
    min-height: 68%;
    padding: 20px;
}

.addr-sender{
    padding: 4px 10px;
    background-color: rgb(206, 248, 255);
    border : 1px solid rgb(206, 248, 300);
    border-radius: 15px;
}

.addr-receiver{
    padding: 4px 10px;
    background-color: #fed5d5;
    border: 1px solid #ffc3b4;
    border-radius: 15px;
}

.addr-ref{
    padding: 4px 10px;    
    border: 1px solid #e4deaa;
    background: #fefad5;
    border-radius: 15px;
}

/*modal*/
.modal-header .modal_close{
    float: right;
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
	border:1px solid rgb(190, 190, 190) !important;
}

.modal-header .modal-title{
	font-weight: 600;
	font-size: 16px;
}

.modal-footer .btn-jycancle{
    width: 70px;
    height: 38px;
    vertical-align: 38px;
    background: rgb(190, 190, 190);
    border: 1px solid rgb(190, 190, 190);
    color: white;
    font-size: 15px;
}

.modal-footer .btn-jyok{
    width: 70px;
    height: 38px;
    vertical-align: 38px;
    background: #06283D;
    border: 1px solid #06283D;
    color: white;
    font-size: 15px;
}

/*사이드바 태그 modal*/

.tagModal .modal-content{
    width: 53%;
}

.tagModal .modal-body{
    padding-left: 30px;
}

.tagModal .modal-body p,
.tagModal .modal-body input{
    font-size: 15px;
    margin-bottom: 0.5rem;
    width: 190px;
}

.pallete-wrap{
    display: inline-block;
    width: 220px;
    height: 22px;
    padding: 0;
}

.pallete-wrap a{
    display: block;
    float: left;
    width: 22px;
    height: 22px;
    text-indent: -3000em;
    margin: 0 4px 4px 0;
}

.pallete-wrap a:hover, 
.pallete-wrap a.active {
    border: 3px solid #333;
    width: 20px;
    height: 20px;
}

.pallete-wrap .color-1{
    background: rgb(250, 87, 60);
    border: 1px solid rgb(250, 87, 60);
}
.pallete-wrap .color-2{
    background: rgb(255, 173, 70);
    border: 1px solid rgb(255, 173, 70);
}
.pallete-wrap .color-3{
    background: rgb(251, 233, 131);
    border: 1px solid rgb(251, 233, 131);
}
.pallete-wrap .color-4{
    background: rgb(123, 209, 72);
    border: 1px solid rgb(123, 209, 72);
}
.pallete-wrap .color-5{
    background: rgb(102, 145, 229);
    border: 1px solid rgb(102, 145, 229);
}
.pallete-wrap .color-6{
    background: rgb(185, 154, 255);
    border: 1px solid rgb(185, 154, 255);
}
.pallete-wrap .color-7{
    background: rgb(246, 145, 178);
    border: 1px solid rgb(246, 145, 178);
}
.pallete-wrap .color-8{
    background: rgb(144, 83, 20);
    border: 1px solid rgb(144, 83, 20);
}

.tagModal .modal-footer{
    justify-content: center;
}

/*toast*/
#toast {
    position: fixed;
    top: 30px;
    left: 50%;
    padding: 15px 20px;
    transform: translate(-50%, 10px);
    border-radius: 10px;
    overflow: hidden;
    font-size: .85rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s, visibility .5s, transform .5s;
    background: rgba(0, 0, 0, .6);
    color: #fff;
    z-index: 10000;
}

#toast.reveal {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, 0)
}