
/* 미팅룸 스타일 */
#mtr-area{
    width:1000px;
    padding:30px;
    margin:20px;            
}
#meetingRoomTable{
	padding:20px;
	margin:20px;
}
#mtr-area>div{
    float:left;
    height:100%;
}
#mtr-area,#mtr2{
	padding:20px;
}
#mtrForm>table{width:100%;}
#mtrTable input{
width: 100%;
height: 100%;
}
#meeting-area{
    border: 1px;
    border-color: black;
}
#meetingbtn{
    background-color:rgb(45, 130, 235);
    color: white;
}
#mtr-img{
    width: 90%;
    height: 90%;
    padding: 10px;
    background-color:rgb(45, 130, 235);
}


/* 맴버 수정 */

.contents{
	width:70%;
	height:90%;
	padding: 10px;
}
#upm1{
    width:35%;
    height:100%;
    position:relative;
}
#upm2{
    width:40%;
    height:100%;
}
#upm2{
    width:40%;
    height:100%;
}
#upmForm>table{width:100%;}
#upmTable input{
	width: 100%;
	height: 100%;
}
#upm-area{
    width:2000px;
    padding:20px;
    margin:20px;
                
}
#upm-area>div{
    float:left;
    height:100%;
}


/* 회원 수정 리스트 */

#listTable{text-align: center;}
#listTable>tbody>tr:hover{cursor:pointer;}
#listFrom{
    width: 95%;
    height: 200px;
    margin:10px;
}
#list-area{
    width:2000px;
    padding:30px;
    margin:30px;             
}

#member-wrapper{
	width:1800px;
	height:700px; 
}

#list-wrapper{
	width:1800px;
    margin:30px; 
}

#pagingArea{
	width: 100%;
	margin: 0 auto;
}

/* 주소록 */

#telTable{text-align: center;}
#telTable>tbody>tr:hover{cursor:pointer;}

#tel_2>ul{width:100%; height:50px; list-style-type: none; margin: auto; padding:0;}
#tel_2>ul>li{float:left; height:50px; line-height: 55px; text-align:center;}
#tel_2>ul>li a{text-decoration: none; color:black; font-size: 18px; font-weight: 900;}
#telsearchForm{text-decoration: none; color:black; font-size: 18px; font-weight: 900; padding:20px;}
.tel_area2 div{
	float: right;
    width:450px;
    height: 200px;
    padding: 10px;
}
.tel_area2{
	height:620px;
}
.tel_area h1{
    padding: 20px;
}
.tel_area{
	width:2000px;
    height:1000px;
}
.chart_area{
	width:1500px;
    height:600px;
}
.company-area{
	width: 1000px;
	height:600px;
	padding:20px
}
.mem-area{
	width:2000px;
	height:800px;
	padding:20px
}

#memTable>tbody>tr:hover{cursor:pointer;}

.profile-area{
	padding:50px;
	margin: 50px;
}