@charset "UTF-8";

/* 출퇴근기록 commuteList.jsp */
    .commute-main{
        width:100%;
        height:250px !important;
        display: flex;
    }

    .holiday-manage{
        background-color:white;
        border:1px solid rgb(224, 224, 224);
        border-radius:5px;
        height:100% !important;
    }

    .top-table{
      margin-left:10%;
      margin-top:60px;
    }

    .span-top{
      font-size:17px;
      font-weight:bold;
      margin-right:20px;
    }

    .span-bottom{
      font-size:30px;
      margin-right:20px;
    }

    .commute-1 {
      width:230px;        
      background-color:white;
      border : 1px solid rgb(224, 224, 224);
      border-radius: 5px;
    }

    .commute-2 {
      width:420px;
      background-color:white;
      border : 1px solid rgb(224, 224, 224);
      border-radius: 5px;
      margin-left:20px;
    }

    .commute-2 span{
      font-size:18px;
    }
    
    .commute-3 {
      width:420px;
      height:250px;
      background-color:white;
      border : 1px solid rgb(224, 224, 224);
      border-radius: 5px;
      margin-left:20px;
    }

    .commute-3 span{
      font-size:18px;
    }

    .commute-4 {
      width:420px;
      background-color:white;
      border : 1px solid rgb(224, 224, 224);
      border-radius: 5px;
      margin-left:20px;
    }

    .commute-4 span{
      font-size:18px;
    }
  
    .commute-5 {
      width:230px;
      background-color:white;
      border : 1px solid rgb(224, 224, 224);
      border-radius: 5px;
      margin-left:20px;
      padding-top:45px;
      text-align: center;
    }
    
    #commute-btn01{
      width:160px;
    }

    #commute-btn02, #commute-btn03 {
      margin-top:15px;
      width:160px;
    } 

    .commute-table {
      width:100%; 
      text-align:center;
    }

    .commute-table td{
      padding-left:20px;
      padding-right:20px;
    }
    
/* 휴가관리 atHolidayList.jsp */
    .holiday-main{
        background-color:white;
        border:1px solid rgb(224, 224, 224);
        border-radius:5px;
        width:100%;
        height:250px !important;
    }

/* 연장근무내역조회 atWorkList.jsp */
    .holiday-manage{
        background-color:white;
        border:1px solid rgb(224, 224, 224);
        border-radius:5px;
        height:100% !important;
    }

/* 사원별 출퇴근현황 조회 commuteMemberList.jsp */
    #commute-modify-btn01{
    	margin-left:15px;
    	height:41px;
    }
    
/* 개인일정조회 schedulePersonalList.jsp */
	#holiday-personal-calendar {
	  max-width: 1100px;
	  margin: 0 auto;
	}

	.fc .fc-button-primary {
		background-color:#007bff !important;
		border:0.5px solid #F8F8FF !important;
	}
	
	.fc-daygrid-dot-event .fc-event-title {
		white-space: normal;
	}
	
/* 근태 부분 시계 구현 main.jsp */
	/*CSS : 시계를 꾸미는 부분*/
	
	#clock-div {
	     width: 100%;
	     text-align: center;
	     color: rgb(0, 135, 239);
	     margin-bottom:30px;
	 }
	 
 	 #Clockday {
	     color: rgb(0, 135, 239);
	     font-size:18px;
	 }
	 
	 #Clock {
	     color: rgb(0, 135, 239);
	     font-size:40px;
	 }

/*  */



