<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>

	<typeAliases>
		<typeAlias type="com.gd.workpp.member.model.vo.Member" alias="Member" />
		<typeAlias type="com.gd.workpp.approval.model.vo.Document" alias="Document" />
		<typeAlias type="com.gd.workpp.holiday.model.vo.Todo" alias="Todo" />
		<typeAlias type="com.gd.workpp.project.model.vo.Project" alias="Project" />
		<typeAlias type="com.gd.workpp.project.model.vo.ProMember" alias="ProMember" />
		<typeAlias type="com.gd.workpp.project.model.vo.ProBoard" alias="ProBoard" />
		<typeAlias type="com.gd.workpp.project.model.vo.ProReply" alias="ProReply" />
		<typeAlias type="com.gd.workpp.mail.model.vo.Mail" alias="Mail" />
		<typeAlias type="com.gd.workpp.mail.model.vo.MailStatus" alias="MailStatus" />
		<typeAlias type="com.gd.workpp.mail.model.vo.Spam" alias="Spam" />
		<typeAlias type="com.gd.workpp.mail.model.vo.Tag" alias="Tag" />
		<typeAlias type="com.gd.workpp.mail.model.vo.SplitEmail" alias="SplitEmail" />
		<typeAlias type="com.gd.workpp.common.model.vo.Attachment" alias="Attachment" />
		<typeAlias type="com.gd.workpp.attendance.model.vo.Attendance" alias="Attendance" />
		<typeAlias type="com.gd.workpp.board.model.vo.Board" alias="Board" />
		<typeAlias type="com.gd.workpp.holiday.model.vo.Schedule" alias="Schedule" />
		<typeAlias type="com.gd.workpp.approval.model.vo.Vacation" alias="Vacation" />
		<typeAlias type="com.gd.workpp.approval.model.vo.Overtime" alias="Overtime" />
		<typeAlias type="com.gd.workpp.approval.model.vo.Absence" alias="Absence" />
		<typeAlias type="com.gd.workpp.approval.model.vo.Plan" alias="Plan" />
		<typeAlias type="com.gd.workpp.approval.model.vo.Approval" alias="Approval" />
		<typeAlias type="com.gd.workpp.company.model.vo.Company" alias="Company" />
		<typeAlias type="com.gd.workpp.company.model.vo.OrgChart" alias="OrgChart" />
		<typeAlias type="com.gd.workpp.company.model.vo.Department" alias="Department" />
		<typeAlias type="com.gd.workpp.company.model.vo.Job" alias="Job" />
		<typeAlias type="com.gd.workpp.attendance.model.vo.Attendance" alias="Annual" />
		<typeAlias type="com.gd.workpp.board.model.vo.Reply" alias="Reply" />
	</typeAliases>
	
	 <mappers>
	 	<mapper resource="/mappers/member-mapper.xml" />
	 	<mapper resource="/mappers/approval-mapper.xml" />
	 	<mapper resource="/mappers/holiday-mapper.xml" />
	 	<mapper resource="/mappers/project-mapper.xml" />
	 	<mapper resource="/mappers/mail-mapper.xml" />
	 	<mapper resource="/mappers/attendance-mapper.xml" />
	 	<mapper resource="/mappers/board-mapper.xml" />
	 	<mapper resource="/mappers/company-mapper.xml" />
	 </mappers>

	
	
</configuration>

