<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="approvalMapper">

	<resultMap id="documentResult" type="Document">
		<result column="document_no" property="documentNo" />
		<result column="user_name" property="userNo" />
		<result column="document_form" property="documentForm" />
		<result column="document_title" property="documentTitle" />
		<result column="create_date" property="createDate" />
		<result column="document_content" property="documentContent" />
		<result column="progress" property="progress" />
		<result column="status" property="status" />
		<result column="message" property="message" />
		<result column="origin_name" property="originName" />
		<result column="change_name" property="changeName" />
		<result column="file_path" property="filePath" />
		<result column="approval_count" property="approvalCount" />
		<result column="dep_name" property="depName" />
	</resultMap>
	
	<resultMap id="approvalResult" type="Approval">
		<result column="document_no" property="documentNo" />
		<result column="user_name" property="userNo" />
		<result column="approval_order" property="approvalOrder" />
		<result column="status" property="status" />
		<result column="approval_date" property="approvalDate" />
		<result column="reference_status" property="referenceStatus" />
		<result column="dep_name" property="depName"/>
		<result column="job_name" property="jobName"/>
		<result column="prof_img" property="profImg"/>
	</resultMap>
	
	<resultMap id="memberResult" type="Member">
		<result column="user_no" property="userNo"/>
		<result column="dep_name" property="depName"/>
		<result column="job_name" property="jobName"/>
		<result column="user_name" property="userName"/>
		<result column="email" property="email"/>
		<result column="phone" property="phone"/>
		<result column="create_date" property="createDate"/>
		<result column="modify_date" property="modifyDate"/>
		<result column="status" property="status"/>
		<result column="prof_img" property="profImg"/>
		<result column="user_email" property="userEmail"/>
		<result column="user_pwd" property="userPwd"/>
		<result column="birthday" property="birthday"/>
	</resultMap>
	
	<resultMap id="planResult" type="Plan">
		<result column="plan_start" property="planStart" />
	</resultMap>
	
	<resultMap id="vacationResult" type="Vacation">
		<result column="vacation_category" property="vacationCategory" />
		<result column="vacation_start" property="vacationStart" />
		<result column="vacation_end" property="vacationEnd" />
		<result column="vacation_count" property="vacationCount" />
	</resultMap>
	
	<resultMap id="absenceResult" type="Absence">
		<result column="absence_date" property="absenceDate" />
	</resultMap>
	
	<resultMap id="overtimeResult" type="Overtime">
		<result column="work_start" property="workStart" />
		<result column="work_end" property="workEnd" />
		<result column="work_date" property="workDate" />
		<result column="work_use" property="workUse" />
	</resultMap>

	<select id="selectApprovalAllCount" resultType="_int">
		select count(*) as "count"
		  from document d
		 where user_no = #{userNo}
		   and d.status = 1
		   <choose>
		   		<when test='category == "1"'>
		   		and progress = 1
		   		</when>
		   		<when test='category == "2"'>
		   		and progress = 2
		   		</when>
		   		<when test='category == "3"'>
		   		and progress = 3
		   		</when>
		   </choose>
	</select>
	
	<select id="selectApprovalCount" resultType="_int">
	    select count(*) as "count"
	      from approval a
	      join document d on(a.document_no = d.document_no)
	      join member m on(a.user_no = m.user_no)
	     where a.user_no = #{userNo}
	       and reference_status is null
	</select>
	
	<select id="selectApprovalAllList" resultMap="documentResult">
		select document_no
		     , user_name
		     , document_form
		     , document_title
	         , to_char(d.create_date, 'YYYY-MM-DD') as "CREATE_DATE"
		     , document_content
		     , progress
		     , d.status
		     , message
		     , origin_name
		     , change_name
		     , file_path
		     , approval_count
		  from document d
		  join member m using(user_no)
		 where user_no = #{userNo}
		   and d.status = 1
		   <choose>
		   		<when test='category == "1"'>
		   		and progress = 1
		   		</when>
		   		<when test='category == "2"'>
		   		and progress = 2
		   		</when>
		   		<when test='category == "3"'>
		   		and progress = 3
		   		</when>
		   </choose>
		 order by document_no desc
	</select>
	
	<select id="selectApprovalList" resultMap="documentResult">
	    select a.document_no
	      , a.user_no
	      , user_name
	      , document_form
	      , document_title
	      , to_char(d.create_date, 'YYYY-MM-DD') as "CREATE_DATE"
	      , document_content
	      , progress
	      , d.status
	      , message
	      , origin_name
	      , change_name
	      , file_path
	      , approval_count
	      , approval_order
	   from approval a
	   join document d on(a.document_no = d.document_no)
	   join member m on(a.user_no = m.user_no)
	  where a.user_no = #{userNo}
	    and reference_status is null
	    and progress = 1
	  order by a.document_no desc
	</select>
	
	<select id="searchApprovalCount" resultType="_int">
		select count(*) as "count"
		  from document 
		 where user_no = #{userNo}
		   and status = 1
		   and document_title like '%'||#{keyword}||'%'
	</select>
	
	<select id="searchApprovalList" resultMap="documentResult">
		select document_no
		     , user_name
		     , document_form
		     , document_title
	         , to_char(d.create_date, 'YYYY-MM-DD') as "CREATE_DATE"
		     , document_content
		     , progress
		     , d.status
		     , message
		     , origin_name
		     , change_name
		     , file_path
		     , approval_count
		  from document d
		  join member m using(user_no)
		 where d.status = 1
		   and user_no = #{userNo}
		   and document_title like '%'||#{keyword}||'%'
	</select>
	
	<select id="selectReferenceCount" resultType="_int">
		select count(*) as "count"
		  from (
		    select distinct document_no
		      from approval a
		      join document d using(document_no)
		     where a.user_no = #{userNo}
		       and reference_status = 1
		   )
	</select>
	
	<select id="selectReferenceList" resultMap="documentResult">
		select distinct document_no
		     , user_name
		     , document_form
		     , document_title
	         , to_char(d.create_date, 'YYYY-MM-DD') as "CREATE_DATE"
		     , document_content
		     , progress
		     , d.status
		     , message
		     , origin_name
		     , change_name
		     , file_path
		     , approval_count
		  from document d
		  join approval a using(document_no)
		  join member m on(d.user_no = m.user_no)
		 where a.user_no = #{userNo}
		   and d.status = 1
		   and reference_status = 1
		 order by document_no desc
	</select>
	
	<select id="selectMemberList" resultMap="memberResult">
		select user_no
		     , dep_name
		     , job_name
		     , user_name
		     , email
		     , phone
	         , create_date
	         , modify_date
		     , status
		     , prof_img
		     , user_email
		     , user_pwd
		     , birthday
		  from member
		 where dep_name = #{dept}
		 order by (case when job_name = '부장' then 1 end)
		        , (case when job_name = '팀장' then 2 end)
		        , (case when job_name = '과장' then 3 end)
		        , (case when job_name = '대리' then 4 end)
		        , (case when job_name = '사원' then 5 end)
	</select>
	
	
	<select id="selectSaveListCount" resultType="_int">
		select count(*) as "count"
		  from document
		 where user_no = #{userNo}
		   and status = 2
	</select>
	
	<select id="selectSaveList" resultMap="documentResult">
		select distinct document_no
		     , user_name
		     , document_form
		     , document_title
	         , to_char(d.create_date, 'YYYY-MM-DD') as "CREATE_DATE"
		     , document_content
		     , progress
		     , d.status
		     , message
		     , origin_name
		     , change_name
		     , file_path
		     , approval_count
		  from document d
		  left join member m on(d.user_no = m.user_no)
		 where d.user_no = #{userNo}
		   and d.status = 2
		 order by document_no desc
	</select>
	
	<delete id="deleteSaveList">
		delete
		  from document
		 where document_no in	
	     <foreach collection="noArr" item='no' index='i' open="(" close=")" separator=",">
           #{no}
         </foreach>
           and status = 2
	</delete>
	
	<select id="searchSaveListCount" resultType="_int">
		select count(*) as "count"
		  from document
		 where user_no = #{userNo}
		   and status = 2
		   and document_title like '%'||#{keyword}||'%'
	</select>
	
	<select id="searchSaveList" resultMap="documentResult">
	select distinct document_no
	     , user_name
	     , document_form
	     , document_title
	     , to_char(d.create_date, 'YYYY-MM-DD') as "CREATE_DATE"
	     , document_content
	     , progress
	     , d.status
	     , message
	     , origin_name
	     , change_name
	     , file_path
	     , approval_count
	  from document d
	  left join member m on(d.user_no = m.user_no)
	 where d.user_no = #{userNo}
	   and d.status = 2
       and document_title like '%'||#{keyword}||'%'
	</select>
	
	<select id="searchReferenceCount" resultType="_int">
		select count(*) as "count"
		  from (
		    select distinct document_no
		      from approval a
		      join document d using(document_no)
		     where a.user_no = #{userNo}
		       and reference_status = 1
		       and document_title like '%'||#{keyword}||'%'
		   )
	</select>
	
	<select id="searchReferenceList" resultMap="documentResult">
		select distinct document_no
		     , user_name
		     , document_form
		     , document_title
	         , to_char(d.create_date, 'YYYY-MM-DD') as "CREATE_DATE"
		     , document_content
		     , progress
		     , d.status
		     , message
		     , origin_name
		     , change_name
		     , file_path
		     , approval_count
		  from document d
		  join approval a using(document_no)
		  join member m on(d.user_no = m.user_no)
		 where a.user_no = #{userNo}
		   and d.status = 1
		   and reference_status = 1
           and document_title like '%'||#{keyword}||'%'
	</select>
	
	<insert id="insertTemporaryApproval">
		  insert into
		document (
		         document_no
		       , user_no
		       , document_form
		       , create_date
		         )
		  values (
		         seq_document.nextval
		       , #{userNo}
		       , #{form}
		       , sysdate
		         )
	</insert>
	
	<select id="selectTemporaryApproval" resultMap="documentResult">
		select document_no
		     , user_no
		     , document_form
	         , to_char(create_date, 'YYYY-MM-DD') as "CREATE_DATE"
		  from document
		 where user_no = #{userNo}
		   and document_title is null
	</select>
	
	<delete id="deleteTemporaryApproval">
		delete
		  from document
		 where user_no = #{userNo}
		   and document_title is null
	</delete>
	
	<update id="seqIncrementSet">
		    alter
		 sequence seq_document
		increment by -1
	</update>
	
	<select id="seqRun" resultType="_int">
		select seq_document.nextval
		  from dual
	</select>
	
	<update id="seqRollback">
	        alter
		 sequence seq_document
		increment by 1
	</update>
	
	<select id="approvalLineView" resultMap="approvalResult">
		select document_no
		     , user_name
		     , dep_name
		     , job_name
		     , prof_img
		     , approval_order
		     , a.status
		     , approval_date
		     , reference_status
		  from approval a
		  join member m using(user_no)
		 where document_no = #{documentNo}
	</select>
	
	<delete id="deleteApprovalLine">
		delete
		  from approval
		 where user_no = #{userNo}
		   and document_no = #{documentNo}
	</delete>
	
	<select id="insertCheck" resultMap="memberResult">
		select user_no
		     , dep_name
		     , job_name
		     , user_name
		     , email
		     , phone
	         , create_date
	         , modify_date
		     , status
		     , prof_img
		     , user_email
		     , user_pwd
		     , birthday
		  from member
		 where user_no in	
	     <foreach collection="userNoArr" item='no' index='i' open="(" close=")" separator=",">
           #{no}
         </foreach>
		 order by (case when job_name = '사원' then 1 end)
		        , (case when job_name = '대리' then 2 end)
		        , (case when job_name = '과장' then 3 end)
		        , (case when job_name = '팀장' then 4 end)
		        , (case when job_name = '부장' then 5 end)
	</select>
	
	<select id="excludeCheck" resultMap="memberResult">
		select user_no
		     , dep_name
		     , job_name
		     , user_name
		     , email
		     , phone
	         , create_date
	         , modify_date
		     , status
		     , prof_img
		     , user_email
		     , user_pwd
		     , birthday
		  from member
		 where user_no in	
	     <foreach collection="userNoArr" item='no' index='i' open="(" close=")" separator=",">
           #{no}
         </foreach>
		 order by (case when job_name = '사원' then 1 end)
		        , (case when job_name = '대리' then 2 end)
		        , (case when job_name = '과장' then 3 end)
		        , (case when job_name = '팀장' then 4 end)
		        , (case when job_name = '부장' then 5 end)
	</select>
	
	<insert id="insertApproval">
		  insert into
		approval (
		         document_no
		       , user_no
		       , approval_order
		         )
		  values (
		         #{documentNo}
		       , #{approval}
		       , #{order}
		         )
	</insert>
	
	<insert id="insertReference">
		  insert into
		approval (
		         document_no
		       , user_no
		       , approval_order
		       , reference_status
		         )
		  values (
		         #{documentNo}
		       , #{reference}
		       , 0
		       , 1
		         )
	</insert>
	
	<update id="insertDocument">
		update document
		   set document_title = #{document.documentTitle}
		     , document_content = #{document.documentContent}
		     , origin_name = #{document.originName}
		     , change_name = #{document.changeName}
		     , approval_count = (select count(*)
		                           from approval
		                          where document_no = #{document.documentNo}
		                            and reference_status is null
		                        )
		     , progress = 1
		     <choose>
		     	<when test="document.status == 2">
		     		, status = 2
		     	</when>
		     	<otherwise>		     	
		     		, status = 1
		     	</otherwise>
		     </choose>
		 where document_no = #{document.documentNo}
	</update>
	
	<insert id="insertPlan">
		insert into
		  plan (
		  	   document_no
		  	 , plan_start
		       )
		values (
		       #{document.documentNo}
		     , #{plan.planStart}
		       )
	</insert>
	
	<insert id="insertAbsence">
		insert into
	   absence (
		  	   document_no
		  	 , absence_date
		       )
		values (
		       #{document.documentNo}
		     , #{absence.absenceDate}
		       )
	</insert>
	
	<insert id="insertVacation">
		insert into
	  vacation (
		  	   document_no
		  	 , vacation_category
		  	 , vacation_start
		  	 , vacation_end
		  	 , vacation_count
		       )
		values (
		       #{document.documentNo}
		     , #{vacation.vacationCategory}
		     , #{vacation.vacationStart}
		     , #{vacation.vacationEnd}
		     , to_date(#{vacation.vacationEnd},'YYYY-MM-DD') - to_date(#{vacation.vacationStart},'YYYY-MM-DD')
		       )
	</insert>
	
	<insert id="insertOvertime">
		insert into
	      work (
		  	   document_no
		  	 , work_start
		  	 , work_end
		  	 , work_date
		  	 , work_use
		       )
		values (
		       #{document.documentNo}
		     , #{overtime.workStart}
		     , #{overtime.workEnd}
		     , #{overtime.workDate}
		     , round((to_date(#{overtime.workEnd},'HH24:MI') - to_date(#{overtime.workStart},'HH24:MI')) *24)
		       )
	</insert>

	<select id="approvalDetail" resultMap="documentResult">
		select document_no
		     , user_name
		     , document_form
		     , document_title
	         , to_char(d.create_date, 'YYYY-MM-DD') as "CREATE_DATE"
		     , document_content
		     , progress
		     , d.status
		     , message
		     , origin_name
		     , change_name
		     , file_path
		     , approval_count
		     , dep_name
		  from document d
		  join member m using(user_no)
		 where document_no = #{no}
	</select>
	
	<select id="approvalDetailPlan" resultMap="planResult">
		select plan_start
		  from plan
		 where document_no = #{no}
		</select>
	
	<select id="approvalDetailOvertime" resultMap="overtimeResult">
		select work_start
		     , work_end
		     , work_date
		     , work_use
		  from work
		 where document_no = #{no}
	</select>
	
	<select id="approvalDetailVacation" resultMap="vacationResult">
		select vacation_category
		     , vacation_start
		     , vacation_end
		     , vacation_count
		  from vacation
		 where document_no = #{no}
	</select>
	
	<select id="approvalDetailAbsence" resultMap="absenceResult">
		select absence_date
		  from absence
		 where document_no = #{no}
	</select>
	
	<select id="approvalDetailLine" resultMap="approvalResult">
		select user_name
		     , approval_order
		     , a.status
		     , approval_date
		     , reference_status
		     , job_name
		  from approval a
		  join member m using(user_no)
		 where document_no = #{no}
		   and reference_status is null
         order by approval_order desc
	</select>
	
	<update id="updateDocumentApprovalCount">
		update document
		   set approval_count = approval_count - 1
		 where document_no = #{documentNo}
	</update>
	
	<update id="updateApprovalStatus">
		update approval
		   set status = '1'
		     , approval_date = sysdate
		 where user_no = (select user_no
		                    from member
		                   where user_name = #{approvalUser})
		   and document_no = #{documentNo}
	</update>
	
	<select id="approvalStatusCheck" resultType="_int">
		select approval_count
		  from document
		 where document_no = #{documentNo}
	</select>
	
	<update id="updateProgress">
		update document
		   set progress = 2
         where document_no = #{documentNo}
	</update>
   
   <select id="saveListModify" resultMap="documentResult">
		select document_no
		     , user_name
		     , document_form
		     , document_title
		     , to_char(d.create_date, 'YYYY-MM-DD') as "CREATE_DATE"
		     , document_content
		     , progress
		     , d.status
		     , message
		     , origin_name
		     , change_name
		     , file_path
		     , approval_count
		  from document d
		  join member m using(user_no)
		 where user_no = #{userNo}
		   and document_form = #{form}
		   and document_no = #{no}
		   and d.status = 2
   </select>
   
   <delete id="deleteApproval">
   		delete
   		  from document
   		 where document_no = #{documentNo}
   </delete>
   
   <update id="approvalLineFusal">
   		update approval
   		   set approval_date = sysdate
   		     , status = '2'
   		 where user_no = #{userNo}
   		   and document_no = #{documentNo}
   </update>

   <update id="approvalFusal">
   		update document
   		   set progress = 3
   		     , message = #{msg}
   		 where document_no = #{documentNo}
   </update>

	<insert id="insertVacationDate">
		    insert into
		attendance (
		           at_no
		         , user_no
		         , at_date
		         , at_status
		         , at_day
		           )           
		    values (
		           seq_attendance.nextval
		         , (select user_no from member where user_name = #{userName})
		         , #{vacationEnd}
		         , '4'
		         , to_char(to_date(#{vacationEnd}, 'YYYY-MM-DD'), 'dy')
		           )
	</insert>
	
	<insert id="insertVacationStart">
		    insert into
		attendance (
		           at_no
		         , user_no
		         , at_date
		         , at_status
		         , at_day
		           )           
		    values (
		           seq_attendance.nextval
		         , (select user_no from member where user_name = #{userName})
		         , #{vacationStart}
		         , '4'
		         , to_char(to_date(#{vacationStart}, 'YYYY-MM-DD'), 'dy')
		           )
	</insert>
	
	<insert id="insertVacationEnd">
		    insert into
		attendance (
		           at_no
		         , user_no
		         , at_date
		         , at_status
		         , at_day
		           )           
		    values (
		           seq_attendance.nextval
		         , (select user_no from member where user_name = #{userName})
		         , #{vacationEnd}
		         , '4'
		         , to_char(to_date(#{vacationEnd}, 'YYYY-MM-DD'), 'dy')
		           )
	</insert>
 
 
 
 
 

	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
</mapper>
