<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="approvalMapper">

	<resultMap id="documentResult" type="Document">
		<result column="document_no" property="documentNo" />
		<result column="user_name" property="userNo" />
		<result column="document_form" property="documentForm" />
		<result column="document_title" property="documentTitle" />
		<result column="create_date" property="createDate" />
		<result column="document_content" property="documentContent" />
		<result column="progress" property="progress" />
		<result column="status" property="status" />
		<result column="message" property="message" />
		<result column="origin_name" property="originName" />
		<result column="change_name" property="changeName" />
		<result column="file_path" property="filePath" />
		<result column="approval_count" property="approvalCount" />
	</resultMap>
	
	<resultMap id="approvalResult" type="Approval">
		<result column="document_no" property="documentNo" />
		<result column="user_name" property="userNo" />
		<result column="approval_order" property="approvalOrder" />
		<result column="status" property="status" />
		<result column="approval_date" property="approvalDate" />
		<result column="reference_status" property="referenceStatus" />
		<result column="dep_name" property="depName"/>
		<result column="job_name" property="jobName"/>
		<result column="prof_img" property="profImg"/>
	</resultMap>
	
	<resultMap id="memberResult" type="Member">
		<result column="user_no" property="userNo"/>
		<result column="dep_name" property="depName"/>
		<result column="job_name" property="jobName"/>
		<result column="user_name" property="userName"/>
		<result column="email" property="email"/>
		<result column="phone" property="phone"/>
		<result column="create_date" property="createDate"/>
		<result column="modify_date" property="modifyDate"/>
		<result column="status" property="status"/>
		<result column="prof_img" property="profImg"/>
		<result column="user_email" property="userEmail"/>
		<result column="user_pwd" property="userPwd"/>
		<result column="birthday" property="birthday"/>
	</resultMap>

	<select id="selectApprovalCount_5" resultType="_int">
		select count(*) as "count"
		  from document d
		  join approval a using(document_no)
		 where a.user_no = #{userNo}
		   and d.status = 1
		   and progress = 0
	</select>
	
	<select id="selectApprovalCount" resultType="_int">
		select count(*) as "count"
		  from document
		 where user_no = #{userNo}
		   and status = 1
		 <choose>
		 	<when test='category == "2"'>
			   and progress = 1
		 	</when>
		 	<when test='category == "3"'>
			   and progress = 2
		 	</when>
		 	<when test='category == "4"'>
			   and progress = 3
		 	</when>
		 </choose>
	</select>
	
	<select id="selectApprovalList_5" resultMap="documentResult">
		select document_no
		     , user_name
		     , document_form
		     , document_title
		     , d.create_date
		     , document_content
		     , progress
		     , d.status
		     , message
		     , origin_name
		     , change_name
		     , file_path
		     , approval_count
		  from document d
		  join member m using(user_no)
		  join approval a using(document_no)
		 where a.user_no = #{userNo}
		   and d.status = 1
		   and progress = 0
		 order by document_no desc
	</select>
	
	<select id="selectApprovalList" resultMap="documentResult">
		select document_no
		     , user_name
		     , document_form
		     , document_title
		     , d.create_date
		     , document_content
		     , progress
		     , d.status
		     , message
		     , origin_name
		     , change_name
		     , file_path
		     , approval_count
		  from document d
          join member m using(user_no)
         where d.status = 1
           and user_no = #{userNo}
		 <choose>
		 	<when test='viewPage == "2"'>
			   and progress = 1
		 	</when>
		 	<when test='viewPage == "3"'>
			   and progress = 2
		 	</when>
		 	<when test='viewPage == "4"'>
			   and progress = 3
		 	</when>
		 </choose>
		 order by document_no desc
	</select>
	
	<select id="searchApprovalCount" resultType="_int">
		select count(*) as "count"
		  from document 
		 where user_no = #{userNo}
		   and status = 1
		   and document_title like '%'||#{keyword}||'%'
	</select>
	
	<select id="searchApprovalList" resultMap="documentResult">
		select document_no
		     , user_name
		     , document_form
		     , document_title
		     , d.create_date
		     , document_content
		     , progress
		     , d.status
		     , message
		     , origin_name
		     , change_name
		     , file_path
		     , approval_count
		  from document d
		  join member m using(user_no)
		 where d.status = 1
		   and user_no = #{userNo}
		   and document_title like '%'||#{keyword}||'%'
	</select>
	
	<select id="selectReferenceCount" resultType="_int">
		select count(*) as "count"
		  from (
		    select distinct document_no
		      from approval a
		      join document d using(document_no)
		     where a.user_no = #{userNo}
		       and reference_status = 1
		   )
	</select>
	
	<select id="selectReferenceList" resultMap="documentResult">
		select distinct document_no
		     , user_name
		     , document_form
		     , document_title
		     , d.create_date
		     , document_content
		     , progress
		     , d.status
		     , message
		     , origin_name
		     , change_name
		     , file_path
		     , approval_count
		  from document d
		  join approval a using(document_no)
		  join member m on(d.user_no = m.user_no)
		 where a.user_no = #{userNo}
		   and d.status = 1
		   and reference_status = 1
		 order by document_no desc
	</select>
	
	<select id="selectMemberList" resultMap="memberResult">
		select user_no
		     , dep_name
		     , job_name
		     , user_name
		     , email
		     , phone
		     , create_date
		     , modify_date
		     , status
		     , prof_img
		     , user_email
		     , user_pwd
		     , birthday
		  from member
		 where dep_name = #{dept}
		 order by (case when job_name = '부장' then 1 end)
		        , (case when job_name = '팀장' then 2 end)
		        , (case when job_name = '과장' then 3 end)
		        , (case when job_name = '대리' then 4 end)
		        , (case when job_name = '사원' then 5 end)
	</select>
	
	
	<select id="selectSaveListCount" resultType="_int">
		select count(*) as "count"
		  from document
		 where user_no = #{userNo}
		   and status = 2
	</select>
	
	<select id="selectSaveList" resultMap="documentResult">
		select distinct document_no
		     , user_name
		     , document_form
		     , document_title
		     , d.create_date
		     , document_content
		     , progress
		     , d.status
		     , message
		     , origin_name
		     , change_name
		     , file_path
		     , approval_count
		  from document d
		  left join member m on(d.user_no = m.user_no)
		 where d.user_no = #{userNo}
		   and d.status = 2
		 order by document_no desc
	</select>
	
	<delete id="deleteSaveList">
		delete
		  from document
		 where document_no in	
	     <foreach collection="noArr" item='no' index='i' open="(" close=")" separator=",">
           #{no}
         </foreach>
           and status = 2
	</delete>
	
	<select id="searchSaveListCount" resultType="_int">
		select count(*) as "count"
		  from document
		 where user_no = #{userNo}
		   and status = 2
		   and document_title like '%'||#{keyword}||'%'
	</select>
	
	<select id="searchSaveList" resultMap="documentResult">
	select distinct document_no
	     , user_name
	     , document_form
	     , document_title
	     , d.create_date
	     , document_content
	     , progress
	     , d.status
	     , message
	     , origin_name
	     , change_name
	     , file_path
	     , approval_count
	  from document d
	  left join member m on(d.user_no = m.user_no)
	 where d.user_no = #{userNo}
	   and d.status = 2
       and document_title like '%'||#{keyword}||'%'
	</select>
	
	<select id="searchReferenceCount" resultType="_int">
		select count(*) as "count"
		  from (
		    select distinct document_no
		      from approval a
		      join document d using(document_no)
		     where a.user_no = #{userNo}
		       and reference_status = 1
		       and document_title like '%'||#{keyword}||'%'
		   )
	</select>
	
	<select id="searchReferenceList" resultMap="documentResult">
		select distinct document_no
		     , user_name
		     , document_form
		     , document_title
		     , d.create_date
		     , document_content
		     , progress
		     , d.status
		     , message
		     , origin_name
		     , change_name
		     , file_path
		     , approval_count
		  from document d
		  join approval a using(document_no)
		  join member m on(d.user_no = m.user_no)
		 where a.user_no = #{userNo}
		   and d.status = 1
		   and reference_status = 1
           and document_title like '%'||#{keyword}||'%'
	</select>
	
	<insert id="insertTemporaryApproval">
		  insert into
		document (
		         document_no
		       , user_no
		       , document_form
		       , create_date
		         )
		  values (
		         seq_document.nextval
		       , #{userNo}
		       , #{form}
		       , sysdate
		         )
	</insert>
	
	<select id="selectTemporaryApproval" resultMap="documentResult">
		select document_no
		     , user_no
		     , document_form
		     , create_date
		  from document
		 where user_no = #{userNo}
		   and document_title is null
	</select>
	
	<delete id="deleteTemporaryApproval">
		delete
		  from document
		 where user_no = #{userNo}
		   and document_title is null
	</delete>
	
	<update id="seqIncrementSet">
		    alter
		 sequence seq_document
		increment by -1
	</update>
	
	<select id="seqRun" resultType="_int">
		select seq_document.nextval
		  from dual
	</select>
	
	<update id="seqRollback">
	        alter
		 sequence seq_document
		increment by 1
	</update>
	
	<select id="approvalLineView" resultMap="approvalResult">
		select document_no
		     , user_name
		     , dep_name
		     , job_name
		     , prof_img
		     , approval_order
		     , a.status
		     , approval_date
		     , reference_status
		  from approval a
		  join member m using(user_no)
		 where document_no = #{documentNo}
	</select>
	
	<delete id="deleteApprovalLine">
		delete
		  from approval
		 where user_no = #{userNo}
		   and document_no = #{documentNo}
	</delete>
	
	<select id="insertCheck" resultMap="memberResult">
		select user_no
		     , dep_name
		     , job_name
		     , user_name
		     , email
		     , phone
		     , create_date
		     , modify_date
		     , status
		     , prof_img
		     , user_email
		     , user_pwd
		     , birthday
		  from member
		 where user_no in	
	     <foreach collection="userNoArr" item='no' index='i' open="(" close=")" separator=",">
           #{no}
         </foreach>
		 order by (case when job_name = '사원' then 1 end)
		        , (case when job_name = '대리' then 2 end)
		        , (case when job_name = '과장' then 3 end)
		        , (case when job_name = '팀장' then 4 end)
		        , (case when job_name = '부장' then 5 end)
	</select>
	
	<select id="excludeCheck" resultMap="memberResult">
		select user_no
		     , dep_name
		     , job_name
		     , user_name
		     , email
		     , phone
		     , create_date
		     , modify_date
		     , status
		     , prof_img
		     , user_email
		     , user_pwd
		     , birthday
		  from member
		 where user_no in	
	     <foreach collection="userNoArr" item='no' index='i' open="(" close=")" separator=",">
           #{no}
         </foreach>
		 order by (case when job_name = '사원' then 1 end)
		        , (case when job_name = '대리' then 2 end)
		        , (case when job_name = '과장' then 3 end)
		        , (case when job_name = '팀장' then 4 end)
		        , (case when job_name = '부장' then 5 end)
	</select>
	
	<insert id="insertApproval">
		  insert into
		approval (
		         document_no
		       , user_no
		       , approval_order
		         )
		  values (
		         #{documentNo}
		       , #{approval}
		       , #{order}
		         )
	</insert>
	
	<insert id="insertReference">
		  insert into
		approval (
		         document_no
		       , user_no
		       , approval_order
		       , reference_status
		         )
		  values (
		         #{documentNo}
		       , #{reference}
		       , 0
		       , 1
		         )
	</insert>
	
	<update id="insertDocument">
		update document
		   set document_title = #{document.documentTitle}
		     , document_content = #{document.documentContent}
		     , origin_name = #{document.originName}
		     , change_name = #{document.changeName}
		     , approval_count = (select count(*)
		                           from approval
		                          where document_no = #{document.documentNo}
		                            and reference_status is null
		                        )
		     , progress = 1
		     , status = 1
		 where document_no = #{document.documentNo}
	</update>
	
	<insert id="insertPlan">
		insert into
		  plan (
		  	   document_no
		  	 , plan_start
		       )
		values (
		       #{document.documentNo}
		     , #{plan.planStart}
		       )
	</insert>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
</mapper>
