<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="attendanceMapper">

	<resultMap id="attendanceResult" type="Attendance">
		<result column="at_no" property="atNo" />
		<result column="user_no" property="userNo" />
		<result column="at_start" property="atStart" />
		<result column="at_end" property="atEnd" />
		<result column="at_overtime" property="atOvertime" />
		<result column="at_totaltime" property="atTotaltime" />
		<result column="at_date" property="atDate" />
		<result column="at_day" property="atDay" />
		<result column="at_status" property="atStatus" />
		<result column="at_late" property="atLate" />
		<result column="user_name" property="userName" />
		<result column="at_modifystart" property="atModifyStart" />
		<result column="at_modifyend" property="atModifyEnd" />
		<result column="at_modifystatus" property="atModifyStatus" />
		<result column="at_modifydate" property="atModifyDate" />
		<result column="dep_name" property="depName" />
		<result column="job_name" property="jobName" />
	</resultMap>
	
	<resultMap id="annualResult" type="Annual">
		<result column="annual_no" property="annualNo" />
		<result column="user_no" property="userNo" />
		<result column="annual_give" property="annualGive" />
		<result column="annual_date" property="annualDate" />
	</resultMap>
	
	<resultMap id="documentResult" type="Document">
		<result column="create_date" property="createDate" />
		<result column="ap_status" property="apStatus" />
		<result column="document_content" property="documentContent" />
		<result column="vacation_category" property="vacationCategory" />
		<result column="vacation_date" property="vacationDate" />
		<result column="vacation_count" property="vacationCount" />
		<result column="work_use" property="workUse" />
		<result column="word_date" property="workDate" />
		<result column="at_date" property="atDate" />
		<result column="work_day" property="workDay" />
		<result column="work_dateList" property="workDateList" />
	</resultMap>
	
	<resultMap id="memberResult" type="Member">
		<result column="user_no" property="userNo" />
		<result column="dep_name" property="depName" />
		<result column="user_name" property="userName" />
		<result column="job_name" property="jobName" />
		<result column="create_date" property="createDate" />
		<result column="service_year" property="serviceYear" />
		<result column="vacation_count" property="vacationCount" />
	</resultMap>
	
	<!-- 1. 출퇴근기록 / commuteList.jsp -->
	
	<!-- 1-1. 출퇴근기록/오늘 출근기록 조회 -->
	
	
	<!-- 1-2. 출퇴근기록/오늘 퇴근기록 조회 -->
	
	
	<!-- 1-3. 출퇴근기록/근무현황_이번달 근무일수 -->
	
	
	<!-- 1-4. 출퇴근기록/근무현황_이번달 연장근무시간 -->
	
	
	<!-- 1-5. 출퇴근기록/근무현황_총 근무시간 -->
	
	
	<!-- 1-6. 출퇴근기록/이번달 근태현황_지각(횟수) -->
	
	
	<!-- 1-7. 출퇴근기록/이번달 근태현황_결근(횟수) --> 
	
	
	<!-- 1-8. 출퇴근기록/이번달 근태현황_연차(횟수) -->
	
	
	<!-- 1-9. 출퇴근기록/휴가현황_잔여휴가(일수) -->
	
	
	<!-- 1-10. 출퇴근기록 표_페이징처리 listCount -->
	
	
	<!-- 1-11. 출퇴근기록 표_근무일자/요일/출근시간/퇴근시간/근무상태 -->
	
	
	
	<!-- 2. 출퇴근기록 수정요청 / commuteUpdate.jsp -->
	
	<!-- 2-1. 이번달 시작일~종료일 출력(조회) -->
	
	
	<!-- 2-2. 출퇴근기록 표_페이징처리 listCount -->
	
	
	<!-- 2-3. 출퇴근기록 표_근무일자/요일/출근시간/퇴근시간/근무상태/수정상태 -->
	
	
	<!-- 2-4. 수정요청 update -->
	
	
	
	<!-- 3. 개인근태현황 / attendanceList.jsp -->
	
	<!-- 3-1. 출근시간/퇴근시간/연장근무시간/근태상태
	<select id="attendanceList" resultMap="attendanceResult">
		select 
		       user_no
		     , at_date
		     , at_date || 'T' || at_start as at_start
		     , at_date || 'T' || at_end as at_end
		     , DECODE(at_status, 1, '정상',
		                         2, '지각',
		                         3, '휴가',
		                         4, '결근') as at_status    
		  from attendance 
		 where user_no = #{userNo}
		 order by at_date desc		
	</select>
	-->
	
	<!-- 4. 휴가관리 / atHolidayList.jsp -->
	
	<!-- 4-1. 총 휴가 갯수 -->
	<select id="holidayAllCount" resultType="_int">
		select 
		       annual_give
		  from annual
		 where user_no = #{userNo}
		   and annual_date between (trunc(sysdate, 'yyyy')) and (add_months(trunc(sysdate, 'year'), 12) -1)
	</select>
	
	<!-- 4-2. 사용 휴가 갯수 -->
	<select id="holidayUserCount" resultType="_int">
		select 
		       count(vacation_count)
		  from document do
		  left join annual a on(a.user_no = do.user_no)
		  left join vacation v on(v.document_no = do.document_no)
		  left join approval ap on(ap.document_no = do.document_no)
		 where user_no = #{userNo} 
		   and ap.status = '승인'
		   and a.annual_date between (trunc(sysdate, 'yyyy')) and (add_months(trunc(sysdate, 'year'), 12) -1)
	</select>
	
	<!-- 4-3. 잔여 휴가 갯수 -->
	<select id="holidayRemainderCount" resultType="_int">
		select 
		       count(annual_give) - count(vacation_count) as holidayCount
		  from document do
		  left join annual a on(a.user_no = do.user_no)
		  left join vacation v on(v.document_no = do.document_no)
		  left join approval ap on(ap.document_no = do.document_no)
		 where user_no = #{userNo} 
		   and ap.status = '승인'
		   and a.annual_date between (trunc(sysdate, 'yyyy')) and (add_months(trunc(sysdate, 'year'), 12) -1)
	</select>
	
	<!-- 4-4. 휴가사용내역 표_휴가신청일자/휴가종류/사유/휴가사용기간/차감일수/승인내역 -->
	<select id="selectHolidayList" resultMap="documentResult">
		select
		       to_char(do.create_date, 'YYYY-MM-DD') as create_date
		     , nvl(v.vacation_category, '-') as vacation_category
		     , do.document_content 
		     , nvl(v.vacation_start || '~' || vacation_end, '-') as vacation_date
		     , v.vacation_count
		     , DECODE(ap.status, '0', '결재대기',
		                         '승인', '승인',
		                         '반려', '반려') as ap_status
		  from document do
		  left join vacation v on(v.document_no = do.document_no)
		  left join approval ap on(ap.document_no = do.document_no)
		 where do.user_no = #{userNo}
		 order by 1 desc
	</select>
	
	
	<!-- 5. 연장근무내역조회 / atWorkList.jsp -->
	
	<!-- 5-1. 이번달 총 연장근무 시간 -->
	<select id="workAllCount" resultType="_int">
		select 
		       nvl(sum(work_use), 0) as work_use
		  from document
		  join attendance using(user_no)
		  join work using(document_no)
		 where user_no = #{userNo}
		   and work_date between (TRUNC(SYSDATE, 'MONTH')) and (LAST_DAY(SYSDATE))
	</select>
	
	<!-- 5-2. 이번달 연장근무 가능시간 -->
	<select id="workPossibleCount" resultType="_int">
		select
		       60 - nvl(sum(work_use),0) as work_user
		  from document
		  left join attendance using(user_no)
		  left join work using(document_no)
		 where user_no = #{userNo}
		   and work_date between (TRUNC(SYSDATE, 'MONTH')) and (LAST_DAY(SYSDATE))
	</select>	
	
	<!-- 5-3. 이번달 연장근무 일수 -->
	<select id="workPossibleDay" resultType="_int">
		select 
		       count(work_use)
		  from document
		  left join attendance using(user_no)
		  left join work using(document_no)
		 where user_no = #{userNo}
		   and at_date between (TRUNC(SYSDATE, 'MONTH')) and (LAST_DAY(SYSDATE))
	</select>	
	
	<!-- 5-4. 연장근무내역 표_연장근무일자/요일/연장근무시간/사유/소요시간/승인내역 -->
	<select id="selectWorkList" resultMap="documentResult">
		select
		       do.user_no
		     , work_date
		     , at_day
		     , nvl(wo.work_start || '~' || wo.work_end, '-') as work_dateList
		     , do.document_content
		     , wo.work_use
		     , DECODE(ap.status, '0', '결재대기',
		                         '승인', '승인',
		                         '반려', '반려') as ap_status
		  from document do
		  left join attendance at on(at.user_no = do.user_no)
		  left join approval ap on(ap.document_no = do.document_no)
		  left join work wo on(wo.document_no = do.document_no)
		 where do.user_no = #{userNo}
	</select>	
	
	<!-- 6. 사원별 출퇴근 현황 조회 / commuteMemberList.jsp -->
	
	<!-- 6-1. 출퇴근현황 표 페이징처리 listCount -->
	<select id="commuteMemberListCount" resultType="_int">
		select
		       count(*)
		  from attendance at
		  join member m on (at.user_no = m.user_no)	
		 where 
		 <if test='searchDep == "dept0"'>
		   (m.dep_name = '개발팀' or m.dep_name = '영업팀' or m.dep_name = '인사팀' or m.dep_name = '총무팀' or m.dep_name = '회계팀')
		 </if>  
		 <if test="searchDep == 'dept1'">
		   m.dep_name = '개발팀'
		 </if>  
		 <if test="searchDep == 'dept2'">
		   m.dep_name = '영업팀'
		 </if>  
		 <if test="searchDep == 'dept3'">
		   m.dep_name = '인사팀'
		 </if> 
		 <if test="searchDep == 'dept4'">
		   m.dep_name = '총무팀'
		 </if> 
		 <if test="searchDep == 'dept5'">
		   m.dep_name = '회계팀' 
		 </if> 
		   and m.user_name like '%' || #{keyword} || '%'		
	</select>
	
	<!-- 6-2. 출퇴근현황(날짜 클릭시)_사원번호/부서/사원명/직급/출근시간/퇴근시간/연장근무시간/비고(연차) -->
	<select id="commuteMemberList" resultMap="attendanceResult">
		select
		       at_date
		     , at_day
		     , m.user_no 
		     , m.dep_name
		     , m.user_name
		     , m.job_name
		     , nvl(at_start, '-') as at_start
		     , nvl(at_end, '-') as at_end
		     , decode(at_status, 1, '정상',
		                         2, '지각',
		                         3, '휴가',
		                         4, '결근') as at_status
		  from attendance at
		  join member m on (at.user_no = m.user_no)
		 where 
		 <if test="searchDep == 'dept0'">
		   (m.dep_name = '개발팀' or m.dep_name = '영업팀' or m.dep_name = '인사팀' or m.dep_name = '총무팀' or m.dep_name = '회계팀')
		 </if>  
		 <if test="searchDep == 'dept1'">
		   m.dep_name = '개발팀'
		 </if>  
		 <if test="searchDep == 'dept2'">
		   m.dep_name = '영업팀'
		 </if>  
		 <if test="searchDep == 'dept3'">
		   m.dep_name = '인사팀'
		 </if> 
		 <if test="searchDep == 'dept4'">
		   m.dep_name = '총무팀'
		 </if> 
		 <if test="searchDep == 'dept5'">
		   m.dep_name = '회계팀' 
		 </if> 
		   and m.user_name like '%' || #{keyword} || '%'
		 order by at_date desc
	</select>
	
	<!-- 7. 출퇴근 기록 수정요청 현황 / commuteMemberUpdate.jsp -->	
	<!-- 7-1. 출퇴근 기록 수정요청 현황 표 페이징처리 listCount -->	
	<!-- 7-2. 출퇴근 기록 수정요청 현황 표_근무날짜/사원번호/부서/사원명/직급/출퇴근시간/수정요청시간/승인내역 -->
	
	
	
	<!-- 8. 사원별 근태현황 조회 / attendanceMemberList.jsp -->
	
	<!-- 8-1. 사원별 근태현황 표 페이징처리 listCount -->
	
	
	<!-- 8-2. 사원별 근태현황 표_근무날짜/사원번호/부서/사원명/직급/출근시간/퇴근시간/연장근무시간/총근무시간/근무상태 -->
	
	
	
	<!-- 9. 사원휴가관리 / atHolidayGiveList.jsp -->
	
	<!-- 9-1. 사원휴가관리 표 페이징처리 listCount -->
	<select id="atHolidayGiveListCount" resultType="_int">
		select 
		       count(*)
		  from (
				select
				       distinct m.user_no
				  from member m
				  left join document do on(m.user_no = do.user_no)
				  left join vacation v on(v.document_no = do.document_no) 
				  where 
				 <if test="searchDep == 'dept0'">
				   (m.dep_name = '개발팀' or m.dep_name = '영업팀' or m.dep_name = '인사팀' or m.dep_name = '총무팀' or m.dep_name = '회계팀')
				 </if>  
				 <if test="searchDep == 'dept1'">
				   m.dep_name = '개발팀'
				 </if>  
				 <if test="searchDep == 'dept2'">
				   m.dep_name = '영업팀'
				 </if>  
				 <if test="searchDep == 'dept3'">
				   m.dep_name = '인사팀'
				 </if> 
				 <if test="searchDep == 'dept4'">
				   m.dep_name = '총무팀'
				 </if> 
				 <if test="searchDep == 'dept5'">
				   m.dep_name = '회계팀' 
				 </if> 
				 
				 <if test="rank == 'rank0'">
				   and (m.job_name = '부장' or m.job_name = '팀장' or m.job_name = '과장' or m.job_name = '대리' or m.job_name = '사원')
				 </if>  
				 <if test="rank == 'rank1'">
				   and m.job_name = '부장'
				 </if>  
				 <if test="rank == 'rank2'">
				   and m.job_name = '팀장'
				 </if>  
				 <if test="rank == 'rank3'">
				   and m.job_name = '과장'
				 </if> 
				 <if test="rank == 'rank4'">
				   and m.job_name = '대리'
				 </if> 
				 <if test="rank == 'rank5'">
				   and m.job_name = '사원' 
				 </if> 
				   and m.user_name like '%' || #{keyword} || '%'
				   and m.status = 'N')
	</select>
	
	<!-- 9-2. 사원휴가관리 표_사원번호/부서/사원명/직급/입사일/근속연수/잔여휴가일수 -->
	<select id="atHolidayGiveList" resultMap="memberResult">
		select
		       m.user_no
		     , m.dep_name
		     , m.user_name
		     , m.job_name
		     , m.create_date
		     , trunc(months_between(sysdate, m.create_date)/12) as service_year
		     , nvl(sum(vacation_count), 0) as vacation_count
		  from member m
		  left join document do on(m.user_no = do.user_no)
		  left join vacation v on(v.document_no = do.document_no) 
		 where 
		 <if test="searchDep == 'dept0'">
		   (m.dep_name = '개발팀' or m.dep_name = '영업팀' or m.dep_name = '인사팀' or m.dep_name = '총무팀' or m.dep_name = '회계팀')
		 </if>  
		 <if test="searchDep == 'dept1'">
		   m.dep_name = '개발팀'
		 </if>  
		 <if test="searchDep == 'dept2'">
		   m.dep_name = '영업팀'
		 </if>  
		 <if test="searchDep == 'dept3'">
		   m.dep_name = '인사팀'
		 </if> 
		 <if test="searchDep == 'dept4'">
		   m.dep_name = '총무팀'
		 </if> 
		 <if test="searchDep == 'dept5'">
		   m.dep_name = '회계팀' 
		 </if> 
		 
		 <if test="rank == 'rank0'">
		   and (m.job_name = '부장' or m.job_name = '팀장' or m.job_name = '과장' or m.job_name = '대리' or m.job_name = '사원')
		 </if>  
		 <if test="rank == 'rank1'">
		   and m.job_name = '부장'
		 </if>  
		 <if test="rank == 'rank2'">
		   and m.job_name = '팀장'
		 </if>  
		 <if test="rank == 'rank3'">
		   and m.job_name = '과장'
		 </if> 
		 <if test="rank == 'rank4'">
		   and m.job_name = '대리'
		 </if> 
		 <if test="rank == 'rank5'">
		   and m.job_name = '사원' 
		 </if> 
		   and m.user_name like '%' || #{keyword} || '%'
		   and m.status = 'N'
		   group by m.user_no, m.dep_name, m.user_name, m.job_name, m.create_date  
		   order by user_no desc
	</select>
	
	<!-- 9-3. 휴가지급 버튼 클릭시 update -->
	
	
	<!-- 9-4. 보너스 휴가지급 버튼 클릭시 update -->
	
	
	<!-- 9-5. 휴가회수 버튼 클릭시 update(전사원 휴가 초기화) -->
	
	
	<!-- 9-6. 표 페이징처리 listCount -->
	
	
	
	<!-- 10. 사원 휴가내역 조회 / holidayMemberList.jsp -->
	
	<!-- 10-1. 휴가내역 표 페이징처리 listCount -->
	
	
	<!-- 10-2. 휴가내역 표_휴가일/사원번호/부서/사원명/직급/휴가종류/승인내역 -->
	
	
	
	
	<!-- 
	출퇴근기록 페이지 조회
	<select id="commuteList" resultMap="attendanceResult">
		select 
		  from 
		 where 
		 order by 			 
	</select>
	
	<insert id="">
		insert into
	           (
	       	   
	           )
	    values (
	    	   
	           )
	</insert>
		
	<update id="deleteBoard">
		update 
		       
		   set 
		 where 
	</update>
	
	 -->

</mapper>