<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="boardMapper">

	<resultMap id="boardResult" type="Board">
		<result column="board_no" property="boardNo"/>
		<result column="user_no" property="userNo"/>
		<result column="board_title" property="boardTitle"/>
		<result column="create_date" property="createDate"/>
		<result column="count" property="count"/>
		<result column="job_name" property="jobName"/>
		<result column="user_name" property="userName"/>
		<result column="like" property="like"/>
		<result column="reply" property="reply"/>
	</resultMap>

	<!-- 게시판(공지, 익명) 글 개수 조회 -->
	<select id="selectListCount" resultType="_int">
		select
			   count(*)
		  from board
		 where status = 'Y'
		   and board_type = #{no}
	</select>
	
	<!-- 게시판(부서) 글 개수 조회 -->
	<select id="selectDeptCount" resultType="_int">
		select
			   count(*)
		  from board
		 where status = 'Y'
		   and dep_name = #{depName}
	</select>
	
	<!-- 게시판(공지, 익명) 글 목록 조회 -->
	<select id="selectList" resultMap="boardResult">
		select
			   board_no
			 , user_no
			 , board_title
			 , b.create_date
			 , count
			 , job_name
			 , user_name
			 , (
			 	select
			 		   count(*)
			 	  from b_like bl
			 	 where bl.board_no = b.board_no
			 ) as "LIKE"
			 , (
			 	select
			 		   count(*)
			 	  from reply
			 	 where ref_bno = board_no
			 ) as "REPLY"
		  from board b
		  join member using(user_no)
		 where b.status = 'Y'
		   and board_type = #{no}
	</select>
	
	<!-- 게시판(부서) 글 목록 조회 -->
	<select id="selectDeptList" resultMap="boardResult">
		select
			   board_no
			 , user_no
			 , board_title
			 , b.create_date
			 , count
			 , job_name
			 , user_name
			 , b.dep_name
			 , (
			 	select
			 		   count(*)
			 	  from b_like bl
			 	 where bl.board_no = b.board_no
			 ) as "LIKE"
			 , (
			 	select
			 		   count(*)
			 	  from reply
			 	 where ref_bno = board_no
			 ) as "REPLY"
		  from board b
		  join member using(user_no)
		 where b.status = 'Y'
		   and b.dep_name = #{depName}
	</select>
	
	<!-- 게시글 삽입 -->
	<insert id="insertBoard">
		insert
		  into board
		  (
		    board_no
		  , user_no
		  , board_type
		  , board_title
		  , board_content
		  , top_exp
		  , dep_name
		  )
		  values
		  (
		    seq_board.nextval
		  , #{userNo}
		  , #{boardType}
		  , #{boardTitle}
		  , #{boardContent}
		  , #{topExp}
		  , #{depName}
		  )
	</insert>
	
	<!-- 첨부파일 삽입 -->
	<insert id="insertAttachment">
		insert
		  into attachment
		  (
		    file_no
		  , ref_type
		  , ref_no
		  , origin_name
		  , change_name
		  )
		  values
		  (
		    seq_file.nextval
		  , #{refType}
		  , seq_board.currval
		  , #{originName}
		  , #{changeName}
		  )
	</insert>

</mapper>