<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="holidayMapper">

	<resultMap id="todoResult" type="Todo">
		<result column="todo_no" property="todoNo" />
		<result column="user_no" property="userNo" />
		<result column="todo_content" property="todoContent" />
		<result column="create_date" property="createDate" />
		<result column="modify_date" property="modifyDate" />
		<result column="status" property="status" />
	</resultMap>
	
	<resultMap id="scheduleResult" type="Schedule">
		<result column="schedule_no" property="scheduleNo" />
		<result column="schedule_title" property="scheduleTitle" />
		<result column="schedule_content" property="scheduleContent" />
		<result column="schedule_start" property="scheduleStart" />
		<result column="schedule_end" property="scheduleEnd" />
		<result column="schedule_timestart" property="scheduleTimeStart" />
		<result column="schedule_timeend" property="scheduleTimeEnd" />
		<result column="schedule_category" property="scheduleCategory" />
		<result column="schedule_status" property="scheduleStatus" />
		<result column="schedule_allday" property="scheduleAllday" />
		<result column="schedule_color" property="scheduleColor" />
		<result column="user_no" property="userNo" />
		<result column="user_name" property="userName" />
		<result column="dep_name" property="depName" />
		<result column="job_name" property="jobName" />
	</resultMap>

	<select id="todoListView" resultMap="todoResult">
		select todo_no
		     , user_no
		     , todo_content
		     , create_date
		     , modify_date
		     , status
		  from todo
		 where user_no = #{userNo}
		 order by create_date desc
		 
	</select>
	
	<insert id="insertTodo">
		insert into
	      todo (
	       	   todo_no
	       	 , user_no
	       	 , todo_content
	           )
	    values (
	    	   seq_todo.nextval
	    	 , #{userNo}
	    	 , #{todoContent}
	           )
	</insert>
	
	<delete id="deleteTodo" parameterType="_int">
		delete
		  from todo
		 where todo_no = #{todoNo}
	</delete>
	
	<!-- 장서원 / 일정 조회 -->
	<select id="selectScheduleList" resultMap="scheduleResult">
		select
		        schedule_no
		      , schedule_title
		      , schedule_content
		      , schedule_start || nvl2(schedule_timestart, 'T' || schedule_timestart, '') as "schedule_start"     
       		  , schedule_end || nvl2(schedule_timeend, 'T' || schedule_timeend, '') as "schedule_end"
		      , schedule_category
		      , schedule_status
		      , schedule_allday
		      , schedule_color
		      , user_no
		      , user_name
		      , dep_name
		      , job_name
		 from schedule
		 join member using(user_no)
		where user_no = #{userNo}
	</select>
	
	
</mapper>
