<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper">
  
 	<resultMap id="memberResult" type="Member">
	  	<result column="user_no" property="userNo"/>
	  	<result column="dep_name" property="depName"/>
	  	<result column="job_name" property="jobName"/>
	  	<result column="user_name" property="userName"/>
	  	<result column="email" property="email"/>
	  	<result column="phone" property="phone"/>
	  	<result column="create_date" property="createDate"/>
	  	<result column="modify_date" property="modifyDate"/>
	  	<result column="status" property="status"/>
	  	<result column="prof_img" property="profImg"/>
	  	<result column="user_email" property="userEmail"/>
	  	<result column="user_pwd" property="userPwd"/>
	  	<result column="birthday" property="birthday"/>
	</resultMap>


	<select id="loginMember" resultMap="memberResult">
	  		select
	  			 user_no
	  			,dep_name
	  			,job_name
	  			,user_name
	  			,email
	  			,phone
	  			,create_date
	  			,modify_date
	  			,status
	  			,prof_img
	  			,user_email
	  			,user_pwd
	  		from member
	  		where status = 'N'
	  		and email = #{email}
	</select>
	  
	<update id="updateMember">
		update
				member
			set   user_email = #{userEmail}
				, phone = #{phone}
				, birthday = #{birthday}
				, modify_date = sysdate
			where email = #{email}
	</update>
		  
	<update id="uploadProfileImg">
	  		update
	  			member
	  		set prof_img = #{profImg}
	  			,modify_date = sysdate
	  		where email = #{email}
	</update>
	  
    <update id ="updatePwd">
  		update
  			member
  		set user_pwd = #{userPwd}
  		,	modify_date = sysdate
  		where email = #{email}
	</update>
	  
	<insert id="createMember">
	  	insert
	  		into member
	  		(
	  			user_no
	  			,email
	  			,user_pwd
	  			,user_name
	  			,phone
	  			,user_email
	  			,dep_name
	  			,job_name
	  			,create_date
	  			,modify_date
	  		)
	  		values
	  		(
	  			LPAD(SEQ_MEMBER.NEXTVAL, 5, '0')
	  			,#{email}
	  			,#{userPwd}
	  			,#{userName}
	  			,#{phone}
	  			,#{userEmail}
	  			,#{depName}
	  			,#{jobName}
	  			,sysdate
	  			,sysdate
	  		)
  </insert>
  
  <select id="modifyListCount" resultType="_int">
		select 
			   count(*)
		  from member
		 where status = 'N'
  </select>
	
  <select id="modifyList" resultMap="memberResult">
		select
			   user_no
			 , user_name
			 , dep_name
			 , job_name
			 , create_date
			 , status
		  from member
		 where status = 'N'
		 order 
		    by user_no desc
  </select>

  <select id="selectmodifyMember" resultMap="memberResult">
		select
				 user_no
				,email
				,user_name
				,phone
				,user_email
				,birthday
				,create_date
				,prof_img
				,dep_name
				,job_name
			from Member
			where user_no =#{userNo}
	</select>
	
	<update id="modifyMember">
		update
				Member
			set  user_name = #{userName}
				,phone=#{phone}
				,user_email=#{userEmail}
				,birthday=#{birthday}
				,dep_name=#{depName}
				,job_name=#{jobName}
			where user_no = #{userNo}
	</update>
	
	<update id="deleteMember">
		update
			member
		set status = 'Y'
		where user_no=#{userNo}
	</update>
	
	<select id="telListCount" resultType="_int">
			select 
				   count(*)
			  from member
			 where status = 'N'
			 <choose>
			 	<when test="dep != ''">
			 		and dep_name = #{dep}
			 	</when>
			 </choose>
	</select>
		
	<select id="searchTelListCount" resultType="_int">
			select 
				   count(*)
			  from member
			 where status = 'N'
			 and user_name LIKE '%'||#{keyword}||'%'
	</select>
	
	<select id="searchTelList" resultMap="memberResult">
			select
				   user_no
				 , user_name
				 , email
				 , dep_name
				 , job_name
				 , prof_img
				 , phone
			  from member
			 where status = 'N'
			 and user_name LIKE '%'||#{keyword}||'%'
			 order 
			    by user_no desc
	</select>
		
	<select id="telList" resultMap="memberResult">
			select
				   user_no
				 , user_name
				 , email
				 , dep_name
				 , job_name
				 , prof_img
				 , phone
			  from member
			 where status = 'N'
			 <choose>
			 	<when test="dep !=''">
			 		and dep_name = #{dep}
			 	</when>
			 </choose>
			 order 
			    by user_no desc
	</select>

	<select id="checkPhone" resultType="_int">
		select
		    count(*)
	    from member
	    where email=#{email}
	    and phone= #{phone}
	</select>
	
	
</mapper>	  